<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" href="{{ url('static', filename='style.css') }}" rel="stylesheet" />

    <title> {{ title }} </title>
</head>
<body>
    
    <nav class="navbar navbar-default nav-bgcolor" role="navigation">
      <a class="navbar-brand" href="/"><span class="re">{{ title }}</span></a>
        <div class="pull-right">
          <li class="nav-item dropdown list-unstyled dmenu">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {{ username }} &nbsp; <i class="fas fa-user-cog"></i>
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="#">service1</a>
              <a class="dropdown-item" href="#">service2</a>
              <a class="dropdown-item" href="#">service3</a>
            </div>
          </li>
      </div>
    </nav>
    <script>
      $(document).ready(function(){
      $(".dropdown-menu li a").click(function(e){
        e.preventDefault();
        $(".dropdown-menu li").removeClass('activeTabLink');
          var activeAttr = $(this).parent('li').addClass('activeTabLink');
        });
      });
      
      $('.navbar .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(250);
          }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(250)
      });
    </script>
</body>
</html>
