<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" href="{{ url('static', filename='style.css') }}" rel="stylesheet" />
    <link type="image/x-icon" href="{{ url('static', filename='mqttui-96.png') }}" rel="shortcut icon" />

    <title> {{ title }} </title>
</head>
<body>
    
    <nav class="navbar navbar-default nav-bgcolor" role="navigation">
      <a class="navbar-brand" href="/"><img src="static/mqttui-96.png" alt="mqttUI logo" width="32" height="32">mqtt<span class="ui">UI</span></a>
        <div class="pull-right">
          <li class="nav-item dropdown list-unstyled dmenu">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {{ username }} &nbsp; <i class="fas fa-user-cog"></i>
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" data-id="" data-name="change" data-target="#change-admin-password" data-toggle="modal">Change password</a>
              <a class="dropdown-item" href="{{ url('logout') }}">Logout</a>
            </div>
          </li>
        </div>
    </nav>
    
    <section class="container py-4">
      <div class="row">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-header">
              <ul id="tabs" class="nav nav-tabs card-header-tabs">
                <li class="nav-item fade active show"><a href="" data-target="#users" data-toggle="tab" class="nav-link medium"><i class="fas fa-users"></i> Users &nbsp;<span class="float-right badge badge-pill badge-secondary">8</span></a></li>
              </ul>
            </div>
              <br>
            <div id="tabs" class="tab-content">
              <div id="users" class="tab-pane fade active show">

                <div class="col col-xs-6 text-right">
                  <button type="button" class="btn btn-xs btn-primary btn-create"><span class="fas fa-user-plus"></span> New user</button>
                </div>

                <div class="container">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Id.</th>
                        <th class="w-75">Name</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>1</td>
                      <td>Admin1</td>
                      <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="fas fa-user-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="fas fa-user-times"></span> Del</a></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Admin2</td>
                      <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="fas fa-user-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="fas fa-user-times"></span> Del</a></td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>


          <!-- Start modal for changing admin password -->
          <div class="modal fade" id="change-admin-password" tabindex="-1" role="dialog" aria-labelledby="change" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="Heading">Change Admin Password</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                     <input class="form-control" type="password" id="password" name="password" onkeyup='check();' placeholder="Password" required>
                  </div>
          
                  <div class="form-group">
                   <input class="form-control" type="password" id="retype_password" name="password" onkeyup='check();' placeholder="Retype Passowrd" required>
                  </div>
                    <span id='password_message'></span>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-secondary" style="width: 100%;" data-dismiss="modal"><span class="fas fa-times-circle"></span> Cancel</button>
                  <button type="button" class="btn btn-warning submit-update" style="width: 100%;" disabled><span class="fas fa-check-circle"></span> Update</button> 
                </div>
              </div>
            </div>
          </div>
          <!-- End modal for changing admin password -->


          </div>
        </div>
      </div>
    </section>

    <script>
      $(document).ready(function(){
      $(".dropdown-menu li a").click(function(e){
        e.preventDefault();
        $(".dropdown-menu li").removeClass('activeTabLink');
          var activeAttr = $(this).parent('li').addClass('activeTabLink');
        });
      });
      
      $('.navbar .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(250);
          }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(250)
      });

      var check = function() {
        if (document.getElementById('password').value ==
          document.getElementById('retype_password').value) {
          document.getElementById('password_message').style.color = 'green';
          document.getElementById('password_message').innerHTML = 'Password matching';
          $(".submit-update").prop('disabled', false);
        } else {
          document.getElementById('password_message').style.color = 'red';
          document.getElementById('password_message').innerHTML = 'Password not matching';
          $(".submit-update").prop('disabled', true);
        }
      };

      $(document).on('click', '.submit-update', function(e) {
          e.preventDefault();
          var pwd  = $('#retype_password').val();
          $(this).closest('.modal').modal('hide');
          $.ajax({
            url: "{{ url('pwdchange') }}",
            type: "POST",
            data: JSON.stringify({"pwd": pwd}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
              setTimeout(function () {
                console.log(data)
                alert('Admin password has changed. Please logout and sign in again.')
                }, 350
              );
            },
            error: function(res) {
              console.log(res);
                alert(res.statusText);
            }
          });
        });
    </script>
</body>
</html>
