<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" href="{{ url('static', filename='style.css') }}" rel="stylesheet" />
    <link type="image/x-icon" href="{{ url('static', filename='mqttui-96.png') }}" rel="shortcut icon" />

    <title> {{ title }} </title>
</head>
<body>
    
    <nav class="navbar navbar-default nav-bgcolor" role="navigation">
      <a class="navbar-brand" href="/"><img src="static/mqttui-96.png" alt="mqttUI logo" width="32" height="32">mqtt<span class="ui">UI</span></a>
        <div class="pull-right">
          <li class="nav-item dropdown list-unstyled dmenu">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {{ username }} &nbsp; <i class="fas fa-user-cog"></i>
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item change-passwd" data-id="change-admin" data-name="admin">change password</a>
              <a class="dropdown-item" href="{{ url('logout') }}">logout</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </div>
    </nav>
    
    <section class="container py-4">
      <div class="row">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-header">
              <ul id="tabs" class="nav nav-tabs card-header-tabs">
                <li class="nav-item fade active show"><a href="" data-target="#users" data-toggle="tab" class="nav-link medium"><i class="fas fa-users"></i> Users &nbsp;<span class="float-right badge badge-pill badge-secondary">{{users|length}}</span></a></li>
              </ul>
            </div>
              <br>
            <div id="tabs" class="tab-content">
              <div id="users" class="tab-pane fade active show">

                <div class="col col-xs-6 text-right">
                  <button type="button" class="btn btn-xs btn-primary btn-create create-user" href="#create-user" role="button" data-toggle="modal"><span class="fas fa-user-plus"></span> New user</button>
                </div>

                <div class="container">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th class="w-75">Name</th>
                        <th class="text-center">Action <span class="fas fa-cog"></span></th>
                      </tr>
                    </thead>
                    {% for user in users %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td>{{user}}</td>
                      <td class="text-center"><a class='btn btn-info btn-xs change-passwd' data-id="change-user" href="#change-user" data-name="{{user}}"><span class="fas fa-user-edit"></span> Edit</a> <a class="btn btn-danger btn-xs delete-user" href="#delete-user" data-name="{{user}}"><span class="fas fa-user-times"></span> Del</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>

              </div>
            </div>


          <!-- Start modal for change password -->
          <div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-labelledby="change" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Change user password</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </div>
                <div class="modal-body">
                    <h5>Please enter the new password for <span class="badge badge-success modal-change-user"></span> user</h5>
                    </br>
                  <div class="form-group">
                     <input class="form-control" type="password" id="password" name="password" onkeyup='check();' placeholder="new password" required>
                  </div>
          
                  <div class="form-group">
                   <input class="form-control" type="password" id="retype_password" name="password" onkeyup='check();' placeholder="retype new passowrd" required>
                  </div>
                    <span id='password_message'></span>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-secondary" style="width: 100%;" data-dismiss="modal"><span class="fas fa-times-circle"></span> Cancel</button>
                  <button type="button" class="btn btn-success submit-update" style="width: 100%;" disabled><span class="fas fa-user-edit"></span> Update</button> 
                </div>
              </div>
            </div>
          </div>
          <!-- End modal for change password -->


          <!-- Start modal for create user -->
          <div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Create new user</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </div>
                <div class="modal-body">
                    <h5>Please enter username and password</h5>
                    </br>
                  <div class="form-group">
                     <input class="form-control" type="text" id="new_user" name="new_user" placeholder="user name" required>
                  </div>

                  <div class="form-group">
                     <input class="form-control" type="password" id="new_password" name="new_password" placeholder="password" required>
                  </div>

                  <div class="form-group">
                   <input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder="retype passowrd" required>
                  </div>
                    <span id='check-passwd-msg'></span>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-secondary" style="width: 100%;" data-dismiss="modal"><span class="fas fa-times-circle"></span> Cancel</button>
                  <button type="button" class="btn btn-primary submit-create" style="width: 100%;" disabled><span class="fas fa-user"></span> Create</button> 
                </div>
              </div>
            </div>
          </div>
          <!-- End modal for create user -->



          <!-- Start modal for delete user -->
          <div class="modal fade small modal-danger" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="change" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-center">Confirm delete user</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </div>
                <div class="modal-body">
                  </br>
                  <h5>Are you sure you want to delete <span class="badge badge-danger modal-delete-user"></span> user?</h5>
                  </br>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-secondary" style="width: 100%;" data-dismiss="modal"><span class="fas fa-times-circle"></span> Cancel</button>
                  <button type="button" class="btn btn-danger submit-delete" style="width: 100%;" ><span class="fas fa-user-times"></span> Delete</button> 
                </div>
              </div>
            </div>
          </div>
          <!-- End modal for delete user -->

          </div>
        </div>
      </div>
    </section>

    <script>
      // clear all input and hide password message after close modal
      $(document).on('hidden.bs.modal', function (e) {
        $('#password_message').hide();
        $('#check-passwd-msg').hide();
        $(this).find('form').trigger("reset");
        $('.submit-update').removeAttr('data-name');
        $('.submit-update').prop('disabled', true);
        $('.submit-create').prop('disabled', true);
        $('.modal-body input,.modal-body textarea').each(function(){
          $(this).val('');
        });
      });

      $(document).on('click', '.change-passwd', function(e) {
        e.preventDefault();
        $(this).find('form').trigger("reset");
        var dataID = $(this).data('id');
        var userID = $(this).data('name');
        var thismodal = $('#change-password');
        if (dataID == 'change-admin') {
            thismodal.find('.modal-change-user').text(userID);
            thismodal.find('.submit-update').attr("data-name", userID);
            thismodal.modal('show');
          } else if (dataID == 'change-user') {
            thismodal.find('.modal-change-user').text(userID);
            thismodal.find('.submit-update').attr("data-name", userID);
            thismodal.modal('show');
          } 
      }); 

      $(document).on('click', '.delete-user', function(e) {
        e.preventDefault();
        var userID = $(this).data('name');
        var thismodal = $('#delete-user');
        thismodal.find('.modal-delete-user').text(userID);
        thismodal.modal('show');
        alert(userID)
      }); 

      $(document).ready(function(){
      $(".dropdown-menu li a").click(function(e){
        e.preventDefault();
        $(".dropdown-menu li").removeClass('activeTabLink');
          var activeAttr = $(this).parent('li').addClass('activeTabLink');
        });
      });
      
      $('.navbar .dmenu').hover(function () {
          $('.sm-menu', this).stop(true, true).slideDown(350);
          $(this).addClass('open');
        }, function () {
          $('.sm-menu', this).stop(true, true).slideUp(350);
          $(this).removeClass('open');
      }); 

      var check = function() {
        $('#password_message').show();
        if (document.getElementById('password').value ==
          document.getElementById('retype_password').value) {
          document.getElementById('password_message').style.color = 'green';
          document.getElementById('password_message').innerHTML = 'Password matching';
          $(".submit-update").prop('disabled', false);
        } else {
          document.getElementById('password_message').style.color = 'red';
          document.getElementById('password_message').innerHTML = 'Password not matching';
          $(".submit-update").prop('disabled', true);
        }
      };

      $('#new_password, #confirm_password').on('keyup', function (e) {
        e.preventDefault();
        $('#check-passwd-msg').show();
        if ($('#new_password').val() == $('#confirm_password').val()) {
          $('#check-passwd-msg').html('Password matching').css('color', 'green');
          $(".submit-create").prop('disabled', false);
        } else { 
          $('#check-passwd-msg').html('Password not matching').css('color', 'red');
          $(".submit-create").prop('disabled', true);
        };
      });

      $(document).on('click', '.submit-update', function(e) {
          e.preventDefault();
          var pwd  = $('#retype_password').val();
          var uname = $('.submit-update').data('name');
          var thismodal = $(this).closest('.modal');
          alert(uname)
          $.ajax({
            url: "{{ url('pwdchange') }}",
            type: "POST",
            data: JSON.stringify({"user": uname, "pwd": pwd}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
              if (data.status_admin) {
                $('#password_message').html(data.status_admin).css('color', 'green');
                $('#password_message').show();
                  setTimeout(function() {
                    thismodal.modal('hide');
                    },2000
                  );
              } else if (data.status_user) {
                $('#password_message').html(data.status_user).css('color', 'green');
                $('#password_message').show();
                  setTimeout(function() {
                    thismodal.modal('hide');
                    },2000
                  );
              } else {
                $('#password_message').html(data.status).css('color', 'green');
                $('#password_message').show();
                setTimeout(function() {
                  thismodal.modal('hide');
                  },2000
                );
                console.log(data)
                alert('Server error occurred - see JavaScript console in the browser')
              }
            },
            error: function(res) {
              console.log(res);
                alert(res.statusText);
            }
          });
        });

      $(document).on('click', '.submit-create', function(e) {
          e.preventDefault();
          var user  = $('#new_user').val();
          var repwd  = $('#confirm_password').val();
          var thismodal = $(this).closest('.modal');
          $.ajax({
            url: "{{ url('ucreate') }}",
            type: "POST",
            data: JSON.stringify({"user": user, "pwd": repwd}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
              if (data.status == "created") {
                $('#check-passwd-msg').html('User created').css('color', 'green');
                $('#check-passwd-msg').show();
                  setTimeout(function() {
                    thismodal.modal('hide');
                    },2000
                  );
                location.reload();
              } else if (data.status == "exists") {
                $('#check-passwd-msg').html('User exists! Please enter another user name!').css('color', 'red');
                $('#check-passwd-msg').show();
              } else {
                setTimeout(function() {
                  thismodal.modal('hide');
                  },2000
                );
                console.log(data)
                alert('Server error occurred - see JavaScript console in the browser')
              }
            },
            error: function(res) {
              console.log(res);
              alert(res);
            }
          });
        });
    </script>
</body>
</html>
