<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Manage some features Mosquitto by UI</title>
</head>
<body>

<main class="login-form">
    <div class="cotainer" style="padding: 60px 60px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    {% if request.app.register %}
                    <div class="card-header" style="display: flex; font-weight: bold; color: red; justify-content: center;">Please set password for admin user</div>
                    {% else %}
                    <div class="card-header" style="display: flex; font-weight: bold; color: green; justify-content: center;">You need to sign in</div>
                    {% endif %}
                    <div class="card-body">
                        <form action="{{ url('login') }}" method="post">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Login</label>
                                <div class="col-md-4">
                                    <input type="text" id="username" class="form-control" name="username" value="admin" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-4">
                                    {% if error %}<div class="error" style="color: red;"><strong>{{ error }}</div>{% endif %}
                                    <input type="password" id="password" class="form-control" name="password" placeholder="type password" required>
                                    <div id="remember" class="checkbox">
                                        <input id="showpassword" type="checkbox" value="Show Password"> Show password
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-6 offset-md-4">
                                {% if request.app.register -%}
                                <button type="submit" class="btn btn-danger">
                                {%- else %}
                                <button type="submit" class="btn btn-success">
                                {% endif -%}
                                    Save
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
      $("#showpassword").on('click', function(){
        
        var pass = $("#password");
        var fieldtype = pass.attr('type');
        if (fieldtype == 'password') {
          pass.attr('type', 'text');
          $(this).text("Hide Password");
        }else{
          pass.attr('type', 'password');
          $(this).text("Show Password");
        }
      });
    </script>
</main>
</body>
</html>
